body {
  height: 100%;
  width: 100%;
  margin: 0px 0px 45px 100px;
  /* margin-top: 20px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: light; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.sign-up-container {
  width: 355px;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  text-align: center;
  margin-left: 38%;
  /* border-radius: 8px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.sign-up-container > .sign-up-logo .logo {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 48%;
  margin-top: 40px;
}

.sign-up-container > .sign-up-logo > img {
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-top: 2px;
}

.sign-up-container > .sign-up-logo > .logup {
  display: flex;
  width: 100%;
  word-wrap: break-word;
  align-items: center;
  margin-right: 45px;
  font-size: 16px;
  color: #737373;
  font-weight: 700;
  margin-top: 15px;
}

.sign-in-fb-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 18px;
  margin-top: 10px;
}
/* 
.sign-in-fb-container > button > img {
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 5px;
  float: inline-start;
  object-fit: cover;
} */

.sign-in-fb-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  width: 268px;
  height: 34px;
  font-weight: bold;
  background-color: #0095F6;
  color: white;
  border: none;
  border-radius: 7px;
}

.sign-in-fb-container > button:hover {
  background-color: #1877F2;
}

.sign-up-container> .or > span > p{ 
  color: #999393;
  font-size: 12px;
  font-weight: 600;
} 


.sign-up-container > .signup-mobile-email > .signup-username{
  height: 38px;
  padding: 2px;
  font-size: 12px;
  width: 268px;
  background-color: #fafafa;
  outline: none;
  border: 1px solid #dbdbdb;
}

.sign-up-container > .signup-mobile-email > .signup-username:focus{
  border: 1px solid #b2b2b2;
}

.sign-up-container > .signup-password > .signup-password{
  height: 38px;
  width: 268px;
  font-size: 12px;
  margin-top: 10px;
  outline: none;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

.sign-up-container > .signup-password > .signup-password:focus{
  border: 1px solid #b2b2b2;
}

.sign-up-container >  .signup-fullname > .signup-fullname{
  outline: none;
  height: 38px;
  width: 268px;
  font-size: 12px;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

.sign-up-container >  .signup-fullname > .signup-fullname:focus{
  border: 1px solid #b2b2b2;
}

.sign-up-container > .signup-username > .signup-username{
  height: 38px;
  width: 268px;
  outline: none;
  font-size: 12px;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb; 
}

.sign-up-container > .signup-username > .signup-username:focus{
  border: 1px solid #b2b2b2;
}

.sign-up-container > span{
  width: 268px;
  height: 96px;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-up-container > span > p{
  color: #999393;
  font-size: 12px;
  padding: 15px;

 
}


.sign-up-container > span > p > a{
  color: #00376B;
  text-decoration: none;
  cursor : pointer;
  word-wrap: break-word;
  &:hover{
    color: #00376B;
    text-decoration: underline;
    cursor : pointer;
  }
}

/* .sign-up-container > span > p  > &:hover{
  color: #012d57;
  text-decoration: underline;
} */


.signup-button-container > .signup-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 40px;
  /* margin-bottom: 10px; */
  width: 268px;
  height: 34px;
  background-color: #3b83e0;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 7px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.signup-button-container > .signup-button:hover{
  background-color: #1877F2;
  font-weight: 700;
}

.sign-in-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 70px;
  margin-left: 38%;
  border: 1px solid #dbdbdb;
  text-align: center;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 0px;
  margin: 0px 10px; */
  /* border-radius: 8px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sign-in-container> .sign-in > span{
  text-align: center;
  font-size: 14px;
  margin: 15px;
}

.sign-in-container> .sign-in > span > a{
  text-decoration: none;
  color: #0095F6;
  font-size: 14px;
  font-weight: 600;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.sign-in-container> .sign-in > span > a:hover{
  color: #042e4b;
}

.get-app{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 27px;
  margin-right: 80px;
  /* margin-left: 20px; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.get-on {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60rem;
  padding: 15px 15px;
}

.get-on > .get-it-on-google {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 37px;
  align-items: center;
  margin-left: 55rem;
  margin-top: 15px;
}
.get-on > .get-it-on-microsoft {
  width: 120px;
  height: 37px;
  align-items: center;
  margin-left: 2rem;
  margin-top: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 110px;
  position: sticky;
}
.footer ul {
  list-style: none;
}

.footer > .footer-list > li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
  font-weight: lighter;
}

.footer > .footer-list > li > a {
  text-decoration: none;
  color: #737373;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 25px;
}

.footer > .footer-list > li > a:hover {
 font-weight: bold;

}